.mainag
{
    display: grid;
    
    grid-template-rows: 80px 270px auto;
    
    padding-bottom: 10px;
}
.headag1
{   
    display: grid;
    grid-template-columns:  repeat(6,1fr);
    grid-column-gap: 20px;
    
}
.headag1in2
{
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 6;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
    background-color: #e7e7e7;

}
.headag2
{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 20px;
}
.headag2in2
{
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: #e7e7e7;
   
}
.headag2img
{
      margin-left: 90px;
      padding-top: 5px;
      
}
.headag3
{
    display: grid;
    
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 20px;
    
}
.ptaginh3
{
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: #e7e7e7;
    padding-top: 5px;
    text-transform: capitalize;
    font-size: 20px;
}
.ptaginh3
{
    border-bottom: 5px solid orange;  
}