#gallery
{
margin-top: 20px;
}

#slidegallery
{
   list-style-type:none;
}
#flt
{
    float: left;
}
#photosgallery
{
    display: flex;   
     
}
#one, #two, #three ,#four
{

    box-shadow:0px 0px 15px darkorange;
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;   
    margin-right: 15px; 
}