 
#intvideo
{
 margin-top: 20px;
 margin-bottom: 30px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap:50px;
}
#video
{
    border-radius: 15px;
    box-shadow: 2px 2px 3px orange;
}

 #wlcm
 {
     font-size: 25px;
     color: blue;
 }
 #gtu
 {
    font-size: 30px;
    color: blue;
   
 }