
*{
    box-sizing: border-box;
}
#sign-in
{
   padding: 20px;
   margin: 10px 10px 10px;
   text-transform: capitalize;
   font-weight: bold;
   font-style: normal;
   font-family: 'Courier New', Courier, monospace;
   font-size: larger;
   align-content: center;
}
form{
    background-color:rgb(250, 196, 20);
    border-radius: 5px;
    margin-left: 450px;
    margin-right: 450px;
    padding: 20px;
}
#first{
   
    font-size: initial ;
    font-family: none;
    padding-left: 100px;
    
}
.first1 {
    text-decoration: none;
}
#head
{
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: khaki;
    padding: 20px;
}
input[type="text"]  

{
   margin-left: 10px;
}

input[type="password"]  
{
   margin-left: 10px;
}

input[type="submit"]
{
    background-color: khaki;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    
}
input[type="submit"]:hover{
    background-color: #f2f2f2;
}
#addac{
    font:initial;
    margin-top: 44px;
}

#second
{
    font: size 15px; ;
}
#second
{
    font-size: initial;
    padding-left: 130px;
}
