#a{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
#sign-in{
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}
#head{
    background-color: khaki;
    border-radius: 5px;
}
.container{
    background-color: darkorange;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.i{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="text"],
input[type="password"]{
    width: 50%;
}
.form1{
    display: flex;
    flex-direction: column;
}
.first1:hover{
    color: white;
    background-color: black;
}